<h2>
    <mat-icon>computer</mat-icon>
    <span i18n="@@web_ssh_term">Web SSH Term</span>
</h2> 
<div>
    <mat-form-field>
        <input matInput i18n-placeholder="@@ip_address" [(ngModel)]="server.ip" placeholder="IP Address"  required/>    
    </mat-form-field>
    <mat-form-field>
        <input matInput i18n-placeholder="@@port" [(ngModel)]="server.port" placeholder="Port" required/>    
    </mat-form-field>
    <mat-form-field>
        <input matInput i18n-placeholder="@@username" [(ngModel)]="server.username" placeholder="Username" required/>    
    </mat-form-field> 
    <mat-form-field>
        <input matInput i18n-placeholder="@@password" type="password" [(ngModel)]="server.password" placeholder="Password" required/>    
    </mat-form-field> 
    <button mat-raised-button (click)="SSHConnect()" color="primary">SSH</button>
</div>
<div #terminalDiv></div>