<div *ngIf="node">
      
    <div class="container">
        <h2 i18n="@@node_detail">Node Details</h2>
        <mat-form-field *ngIf="node.id>0">
                <input matInput [(ngModel)]="node.last_ip" [readonly]="true"
                placeholder="Node IP" />
        </mat-form-field>

        <mat-form-field *ngIf="node.id>0">
            <input matInput [(ngModel)]="node.version" [readonly]="true"
            placeholder="Node Version" />
        </mat-form-field>

        
        <mat-form-field *ngIf="node.id>0">
          <input matInput  [value]="getDate(node.last_req_time)" [readonly]="true" placeholder="Last Sync time" >     
        </mat-form-field>
        
        
        <div>
        <button mat-stroked-button (click)="changeEditable()" >{{readOnlyButtonText}}</button>
        <button *ngIf="node.id>0" mat-stroked-button [disabled]="readOnlyValue" (click)="deleteNode(node.id)">Delete</button>
        </div>
    </div>
    
    