mat-form-field {
    display: block;
    margin-top: 10px;
    margin-bottom: 3px;
    background-color: #F0F0F0;
}

button {
    margin-right: 5px;
}

.back_link {
    margin: 10px 0px 10px 0px;
}