<div class="container">
  <div>
    <mat-card>
      <h2 i18n="@@user_mgmt">Users Management</h2>
    </mat-card>
  </div>
  <div>
    <span *ngIf="rpcService.auth_user.is_super_admin==true">
      <button mat-stroked-button i18n="@@add_user" (click)="addAdmin()">Add User</button>
    </span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <mat-form-field appearance="none">
      <input matInput (keyup)="applyFilter($event.target.value)" class="search_box" placeholder="Filter">
    </mat-form-field>
  </div>


  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="userDataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a routerLink="/appuser/{{element.id}}">
            {{element.id}}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef i18n="@@username"> Username </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a routerLink="/appuser/{{element.id}}">
            {{element.username}}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_super_admin">
        <mat-header-cell i18n="@@is_super_admin" *matHeaderCellDef class="center_column"> Super Admin </mat-header-cell>
        <mat-cell *matCellDef="let element" class="center_column">
          <mat-icon *ngIf="element.is_super_admin" color="primary">check_circle_outline</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_cert_admin">
        <mat-header-cell i18n="@@is_cert_admin" *matHeaderCellDef class="center_column"> Certificate Admin
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="center_column">
          <mat-icon *ngIf="element.is_cert_admin" color="primary">check_circle_outline</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_app_admin">
        <mat-header-cell i18n="@@is_app_admin" *matHeaderCellDef class="center_column"> Application Admin
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="center_column">
          <mat-icon *ngIf="element.is_app_admin" color="primary">check_circle_outline</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #userPaginator [length]="userLength" [pageSize]="20" [pageSizeOptions]="[10, 20, 50]">
    </mat-paginator>
  </div>

</div>