<div>
    <div *ngIf="applicationService.auth_user.logged==false" class="container">
        <h1 i18n="@@login_title">Login</h1>        
        <mat-form-field>
            <input matInput placeholder="Username" [(ngModel)]="username" required>
        </mat-form-field>
    
        <mat-form-field>
            <input matInput type="password" placeholder="Password" [(ngModel)]="password" required>
        </mat-form-field>
        
        <button i18n="@@submit" mat-button (click)="onSubmit($event)">Submit</button>        
    </div>
    <div *ngIf="oauth.use_oauth==true" class="container">
        <a href="{{ oauth.entrance_url }}">{{ oauth.display_name }}</a>
    </div>
</div>
