mat-list-item {
  /*max-width: 500px;*/
  background-color: #F0F0F0;
  margin: 3px;
}

mat-list-item:hover {
  cursor: pointer;
}

.wrapkey {
  font-size: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f4f4;
  padding: 5px;
  line-height: 2em;
  word-break: break-all;
}