<div class="container">
    <div>
        <mat-card>
            <h2>
                <span i18n="@@node_mgmt">Node Management</span>
                <span> &nbsp;&nbsp;&nbsp;&nbsp; </span>
                <span>
                    <button mat-stroked-button (click)="getNodes()">
                        <mat-icon matListIcon>refresh</mat-icon>
                        <span i18n="@@refresh">Refresh</span>
                    </button>
                </span>
            </h2>
        </mat-card>
    </div>

    <div class="mat-elevation-z8">
        <mat-table #table [dataSource]="nodesDataSource">

            <ng-container matColumnDef="last_ip">
                <mat-header-cell i18n="@@last_ip" *matHeaderCellDef> IP </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.last_ip}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="public_ip">
                <mat-header-cell i18n="@@public_ip" *matHeaderCellDef> Public IP </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.public_ip}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="online">
                <mat-header-cell i18n="@@online" *matHeaderCellDef> Online </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="element.online" color="primary">check_circle_outline</mat-icon>
                    <mat-icon *ngIf="!element.online" color="warn">highlight_off</mat-icon>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="version">
                <mat-header-cell i18n="@@version" *matHeaderCellDef> Version </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.version}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="last_req_time">
                <mat-header-cell i18n="@@sync_time" *matHeaderCellDef class="center_column"> Synchronization Time
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="center_column">
                    {{ getDate(element.last_req_time) }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell i18n="@@action" *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-stroked-button (click)="deleteNode(element.id)" i18n="@@delete">Delete</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #nodesPaginator [length]="nodesLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 50]">
        </mat-paginator>
    </div>

    <br>
    <mat-card>
        <h3 i18n="@@node_sync">Node Synchronization</h3>
        <p matLine i18n="@@node_notice">Please copy the following node_key into config.json of all replica
            nodes.
        </p>
        <span class="wrapkey">{{ rpcService.hexNodesKey }}</span>
    </mat-card>

</div>