<div *ngIf="application">
  <h2 i18n="@@app_detail" class="container">Application Detail</h2>
  
  <div class="container">
    <mat-form-field>
      <input matInput i18n-placeholder="@@app_name" #app_name [(ngModel)]="application.name" placeholder="Application Name"  [readonly]="readOnlyValue" required/>    
      <mat-hint align="end">{{app_name.value?.length || 0}}/128</mat-hint> 
    </mat-form-field>
    <mat-form-field>
        <mat-select i18n-placeholder="@@app_internal_scheme" [(ngModel)]="application.internal_scheme" placeholder="Backend or Internal Scheme" [disabled]="readOnlyValue">
          <mat-option value="http">http</mat-option>
          <mat-option value="https">https</mat-option>
        </mat-select> 
    </mat-form-field>  

    <mat-expansion-panel [expanded]="true"  class="detail_panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 i18n="@@routing_configuration">Routing Configuration</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
       
    <div class="inline-form" *ngFor="let dest of application.destinations;let i=index; trackBy:trackByFn">
      <mat-form-field class="inline-form-field-20">
          <mat-label i18n="@@request_location">Request Location</mat-label>
          <input matInput [(ngModel)]="application.destinations[i].request_route"  
          i18n-matTooltip="@@request_location_tooltip" matTooltipPosition="below"  
          matTooltip="Default: / , options:  (1) /abc/  (2) .php  (3) / , ordered from highest priority to lowest, and /abc/def/ is not supported."            
          [readonly]="readOnlyValue" required/>         
      </mat-form-field>
      <mat-form-field class="inline-form-field-20">
        <mat-label i18n="@@routing_type">Routing Type</mat-label>
        <mat-select [(ngModel)]="application.destinations[i].route_type" 
        i18n-matTooltip="@@routing_type_tooltip" matTooltipPosition="below"   
        matTooltip="Default: Reverse_Proxy, other options: Local_FastCGI used for PHP, Python etc., Static_Website used for local static resources without backend servers."  
        [disabled]="readOnlyValue" required>   
            <mat-option *ngFor="let route_type of enum_route_types;" [value]="route_type.value">
              {{ route_type.name }}
            </mat-option>                
        </mat-select>        
      </mat-form-field>
      <mat-form-field class="inline-form-field-25">
        <mat-label i18n="@@destination">Destination</mat-label>
        <input matInput [(ngModel)]="application.destinations[i].destination" 
        i18n-matTooltip="@@destination_tooltip" matTooltipPosition="below"   
        matTooltip="Default IP:Port (such as 10.0.0.1:80), or default file (such as index.html) if Static_Website was selected." 
        [readonly]="readOnlyValue" required/>        
      </mat-form-field>
      <mat-form-field class="inline-form-field-25">
          <mat-label i18n="@@backend_routing">Backend Routing</mat-label>
          <input matInput [(ngModel)]="application.destinations[i].backend_route" 
          i18n-matTooltip="@@backend_routing_tooltip" matTooltipPosition="below"  
          matTooltip="Default /, using /xyz/ if the backend is using different URL Path. Please fill in absolute path (/path/to/www/) if the routing type is Static_Website or Local_FastCGI."     
          [readonly]="readOnlyValue" required/>
          <mat-icon matSuffix i18n-matTooltip="@@add_new_routing" class="clickable_btn" matTooltip="Add new routing" matTooltipPosition="left" (click)="addDestination()">add_circle_outline</mat-icon>
          <mat-icon *ngIf="application.destinations.length>1" matSuffix class="clickable_btn" (click)="delDestination(i)">remove_circle_outline</mat-icon> 
      </mat-form-field>
      
    </div>    
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true" class="detail_panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <h3 i18n="@@domain_configuration">Domain Configuration</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="inline-form" *ngFor="let domain of application.domains; let i=index; trackBy:trackByFn">
        <mat-form-field class="inline-form-field-20"> 
          <mat-icon matPrefix>language</mat-icon>  
          <input matInput i18n-placeholder="@@domain_name" placeholder="Domain name (required)"  
          i18n-matTooltip="@@domain_name_tooltip" matTooltipPosition="below"  
          matTooltip="Required, format: www.your-domain.com"  
          [(ngModel)]="application.domains[i].name" [disabled]="readOnlyValue" list="domains" required>
          <datalist id="domains">
              <option *ngFor="let domain of applicationService.domains;">{{domain.name}}</option>
          </datalist>         
        </mat-form-field> 
      
        <mat-form-field class="inline-form-field-20">  
          <mat-icon matPrefix>lock_outline</mat-icon>         
          <mat-select i18n-placeholder="@@certificate" placeholder="Certificate"  [(ngModel)]="application.domains[i].cert_id" [disabled]="readOnlyValue" required>   
              <mat-option *ngFor="let certificate of optionCertificates;" [value]="certificate.id">
                {{certificate.common_name}}
              </mat-option>                
          </mat-select>
        </mat-form-field>  

        <mat-form-field  class="inline-form-field-50">
            <mat-checkbox matPrefix i18n="@@redirect" [(ngModel)]="application.domains[i].redirect" [disabled]="readOnlyValue">
                (Not checked by default) Redirect to (301): &nbsp;
            </mat-checkbox>
            <input matInput placeholder="https://www.your-domain.com/" [(ngModel)]="application.domains[i].location" [disabled]="readOnlyValue">
            <mat-icon matSuffix i18n-matTooltip="@@add_domain" matTooltip="Add new domain" matTooltipPosition="right"  (click)="addDomain()">add_circle_outline</mat-icon>
            <mat-icon matSuffix *ngIf="application.domains.length>1"  (click)="delDomain(i)">remove_circle_outline</mat-icon>
        </mat-form-field>
    </div>
   </mat-expansion-panel>
 
    

    <mat-form-field>
      <mat-select [(ngModel)]="application.ip_method" i18n-placeholder="@@ip_for_waf"
      placeholder="Client IP for WAF" [disabled]="readOnlyValue">
      <mat-option *ngFor="let ip_method_value of enum_ip_method_values;" [value]="ip_method_value.value">
          {{ ip_method_value.name }}
      </mat-option>
      </mat-select>
    </mat-form-field>

    <section>
      <mat-checkbox i18n="@@redirect_https" [(ngModel)]="application.redirect_https" [disabled]="readOnlyValue">
          Redirect HTTP to HTTPS (Certificate Required)
      </mat-checkbox>
    </section>

    <section>
      <mat-checkbox i18n="@@hsts_enabled" [(ngModel)]="application.hsts_enabled" [disabled]="readOnlyValue">
          Enable HSTS for HTTPS (Add Response Header: Strict-Transport-Security)
      </mat-checkbox>
    </section>
    
    <section>
      <mat-checkbox i18n="@@waf_enabled" [(ngModel)]="application.waf_enabled" [disabled]="readOnlyValue">
          Enable WAF (Web Application Firewall) 
      </mat-checkbox>
    </section>

    <section>
        <mat-checkbox i18n="@@oauth_required" [(ngModel)]="application.oauth_required" [disabled]="readOnlyValue">
            Enable Authentication (Depend on configuration file and only for Internal Employees and Internal Applications. {{ oauth.display_name }})
        </mat-checkbox>
    </section>

    <mat-form-field *ngIf="application.oauth_required">
        <input i18n-placeholder="@@session_seconds" type="number" matInput [(ngModel)]="application.session_seconds" [readonly]="readOnlyValue" placeholder="Session Expire Seconds for OAuth2"/>
    </mat-form-field> 

    <section>
        <mat-checkbox i18n="@@csp_enabled" [(ngModel)]="application.csp_enabled" [disabled]="readOnlyValue">
            (Not checked by default) Enable CSP (Content-Security-Policy, example: default-src 'self' )
        </mat-checkbox>
    </section>

    <mat-form-field *ngIf="application.csp_enabled">
        <mat-label>Content-Security-Policy</mat-label>
        <input matInput i18n-placeholder="@@csp" [(ngModel)]="application.csp" #csp [readonly]="readOnlyValue" placeholder=""/>
        <mat-hint align="end">{{csp.value?.length || 0}}/1024</mat-hint>
    </mat-form-field> 

    <mat-form-field>
        <input matInput i18n-placeholder="@@owner" [(ngModel)]="application.owner" [readonly]="readOnlyValue" placeholder="Application Owner"/>
    </mat-form-field> 
        
    <mat-form-field>
        <input matInput i18n-placeholder="@@description" #description [(ngModel)]="application.description" [readonly]="readOnlyValue" placeholder="Description"/>
        <mat-hint align="end">{{description.value?.length || 0}}/256</mat-hint>
      </mat-form-field> 
    <div>
    <button i18n="@@save" mat-stroked-button [disabled]="readOnlyValue" (click)="setApplication()">Save</button>
    <button mat-stroked-button (click)="changeEditable()">{{readOnlyButtonText}}</button>
    <button i18n="@@delete" mat-stroked-button [disabled]="readOnlyValue" (click)="deleteApplication()">Delete</button>
  </div>  
  </div>
