.icon {
    padding: 0 14px;
  }
  
.spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    height: 40px;
    padding-left: 1px;
    padding-top: 1px;
}

.logo-span {
    height: 38px;
}
.logo {
    height: 36px;
    width: 139px;
}