<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <span>
        <a routerLink="/"><img [src]="logoPath"></a>        
    </span>    
    <span class="spacer"></span>    
    
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="applicationService.auth_user.logged">
        <mat-icon color="secondary">account_circle</mat-icon>
        {{applicationService.auth_user.username}}
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Exit
        </button>
    </mat-menu>
    
    <button mat-button *ngIf="applicationService.auth_user.logged==false" (click)="navigate('/login')">
        Login
    </button>
    
  </mat-toolbar-row>
</mat-toolbar>