<div class="container">
    <div>
        <mat-card>
            <h2>
                <span i18n="@@dns_record_mgmt">DNS Record Management</span>
                <span *ngIf="dnsDomain"> - {{ dnsDomain.name }}</span>
            </h2>
        </mat-card>
    </div>
    <div>
        <mat-toolbar>
            <span>
                <button mat-stroked-button i18n="@@add_dns_record" (click)="addDNSRecord()">Add DNS Record</button>
            </span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <mat-form-field appearance="none">
                <input matInput (keyup)="applyFilter($event.target.value)" class="search_box" placeholder="Filter">
            </mat-form-field>
            <span class="spacer"></span>
            <span>
                <a mat-stroked-button routerLink="/dns-domains" i18n="@@back_to_domain_names">Back to Domain Names</a>
            </span>
        </mat-toolbar>
    </div>

    <div class="mat-elevation-z8">
        <mat-table #table [dataSource]="dnsRecordsDataSource">

            <ng-container matColumnDef="rrtype">
                <mat-header-cell i18n="@@rrtype" *matHeaderCellDef> Resource Type </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ getRRTypeName(element.rrtype) }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell i18n="@@name" *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span (click)="editDNSRecord(element)" class="pointer">{{element.name}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="value">
                <mat-header-cell i18n="@@value" *matHeaderCellDef> Value </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span *ngIf="element.auto">Auto</span>
                    <span *ngIf="!element.auto">{{element.value}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ttl">
                <mat-header-cell i18n="@@ttl_seconds" *matHeaderCellDef> TTL (Seconds) </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span>{{element.ttl}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef i18n="@@action"> Action </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-icon inline="true" (click)="editDNSRecord(element)" class="pointer">edit
                    </mat-icon>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <mat-icon inline="true" (click)="deleteDNSRecord(element)" class="pointer">delete
                    </mat-icon>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #dnsPaginator [length]="dnsLength" [pageSize]="20" [pageSizeOptions]="[10, 20, 50]">
        </mat-paginator>
    </div>

    <br>

    <mat-card>
        <div class="enable_dns_note">
            <h3 i18n="@@enable_gslb">Enable GSLB</h3>
            <p>Assuming you have an application that provides services to internet users through <span
                    class="command">https://service.example.com</span>, you can refer to the following steps to enable
                GSLB (Global Server Load Balance) if you have multiple gateway nodes deployed.</p>
            <ol>
                <li>
                    Step 1: Enable firewall policy, example for Debian 11: #<span class="command">ufw allow 53</span>
                </li>
                <li>
                    Step 2: Make sure port 53 is not occupied by other applications, typically in Debian 11:
                    #<span class="command">systemctl stop systemd-resolved</span> and
                    #<span class="command">systemctl disable systemd-resolved</span>, then check with:
                    #<span class="command">netstat -antulp | grep :53</span>
                </li>
                <li>
                    Step 3: Enable DNS Server in <a routerLink="/settings">Settings</a> - Advanced, and then
                    restart service:
                    #<span class="command">systemctl restart janusec</span>
                </li>
                <li>
                    Step 4: Add an A or CNAME record <span class="command">ns01</span> with value ip address points to
                    this gateway, and a NS record <span class="command">service</span> with value <span
                        class="command">ns01.example.com.</span> at the authoritative name server, not on this page.
                    Individual domain name holders should modify it at the domain name registrar.
                </li>
                <li>
                    Step 5: Add an A record <span class="command">service</span> on this page, and enable
                    <span class="command">Automatically resolve to an available gateway node</span>
                </li>
                <li>
                    Step 6: Configure application in <a routerLink="/applications">Application</a> and make sure the
                    backend source servers are available to all nodes of Janusec Application Gateway.
                </li>
                <li>
                    Step 7: Open <span class="command">https://service.example.com</span> with web browser, or
                    <span class="command">nslookup service.example.com</span> under command shell.
                </li>
            </ol>
        </div>
    </mat-card>



</div>