<div class="container">

  <div>
  <mat-form-field>
   <mat-select i18n-placeholder="@@application" [(ngModel)]="app_id" placeholder="Application">
   <mat-option *ngFor="let application of applicationService.applications;" [value]="application.id">
       {{application.name}}
   </mat-option>  
   </mat-select> 
 </mat-form-field>
 <mat-form-field>
   <input matInput i18n-placeholder="@@begin_time" [(ngModel)]="start_date"  [matDatepicker]="pickerStart" placeholder="Begin Time (00:00:00)">
   <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
   <mat-datepicker #pickerStart></mat-datepicker>
 </mat-form-field>
 <mat-form-field>
   <input matInput i18n-placeholder="@@end_time" [(ngModel)]="end_date"  [matDatepicker]="pickerEnd" placeholder="End Time (23:59:59)">
   <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
   <mat-datepicker #pickerEnd></mat-datepicker>
 </mat-form-field>
 <button mat-stroked-button i18n="@@query_cc_logs" (click)="queryCCLogs()">Query CC Logs</button>
</div>

<div class="mat-elevation-z8">
 <mat-table #table [dataSource]="ccLogDataSource"> 
   <ng-container matColumnDef="id">
         <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
         <mat-cell *matCellDef="let element"> 
           <a routerLink="/cclog/{{element.id}}">
           {{element.id}} 
           </a>
         </mat-cell>
   </ng-container>
   <ng-container matColumnDef="request_time">
     <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
     <mat-cell *matCellDef="let element"> {{ getDate(element.request_time) }} </mat-cell>
   </ng-container>    

   <ng-container matColumnDef="client_ip">
     <mat-header-cell *matHeaderCellDef> Client IP </mat-header-cell>
     <mat-cell *matCellDef="let element"> {{element.client_ip}} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="method">
     <mat-header-cell *matHeaderCellDef> Method </mat-header-cell>
     <mat-cell *matCellDef="let element"> {{element.method}} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="host">
     <mat-header-cell *matHeaderCellDef> Host </mat-header-cell>
     <mat-cell *matCellDef="let element"> {{element.host}} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="url_path">
     <mat-header-cell *matHeaderCellDef> URL Path </mat-header-cell>
     <mat-cell *matCellDef="let element"> {{element.url_path}} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="action">
     <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
     <mat-cell *matCellDef="let element"> {{ element.action.name }} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="policy_id">
     <mat-header-cell *matHeaderCellDef> PolicyID </mat-header-cell>
     <mat-cell *matCellDef="let element"> {{element.policy_id}} </mat-cell>
   </ng-container>

   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
 </mat-table>
 <mat-paginator #paginator
          [pageSize]="20"
          [pageSizeOptions]="[10, 20, 50]"
          [showFirstLastButtons]="true" 
          (page)="pageChanged()">
 </mat-paginator>
</div>
</div>