mat-list-item {
    background-color: #F0F0F0;
    margin:3px;
  }
  
  mat-list-item:hover {
    cursor: pointer;
  }

  
.center_column {
    justify-content: center;
}

.search_box {
    background-color: #FFFFFF;
    border: solid 1px #D0D0D0;
    border-radius: 15px;
    padding: 6px;
    vertical-align: middle;
}

  