.sidenav-container {
    min-height: 700px;
}

.sidenav {
    display: flex;
    align-items: top;
    justify-content: center;
    width: 140px;
}

mat-icon {
    font-size: 14px;
}

.mat-sidenav {
    background-color: #E5E5E5;
}
.mat-list-item {
    font-size: 12px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding-top: 1px;
}

.btn_shownav {
    margin-top: 2px;
    padding: 10px 5px;
    border: 0px;
    height: 36px;
}