<ng-container>
<app-navbar></app-navbar>
<app-messages></app-messages>
<mat-sidenav-container class="sidenav-container">
<mat-sidenav *ngIf="applicationService.auth_user.logged"
    #sidenav mode="side" [(opened)]="showSidenav" class="sidenav" role="navigation"> 
    <mat-nav-list>  
        <mat-list-item>
                <a routerLink="/dashboard">
                    <mat-icon>dashboard</mat-icon>
                    <span i18n="@@dashboard">Dashboard</span>
                </a>
        </mat-list-item>
        
        <mat-list-item>
                <a routerLink="/certificates">
                    <mat-icon>lock_outline</mat-icon>
                    <span i18n="@@cert_mgmt">Certificate</span>
                </a>
        </mat-list-item>
        
        <mat-list-item>
                <a routerLink="/applications">
                    <mat-icon>explore</mat-icon>
                    <span i18n="@@app_mgmt">Application</span>
                </a>
        </mat-list-item>           
        
        <mat-list-item>
            <a routerLink="/health">
                <mat-icon>check_circle_outline</mat-icon>
                <span i18n="@@health_check">Health</span>
            </a>  
        </mat-list-item>

        <mat-list-item *ngIf="applicationService.auth_user.is_super_admin==true">
            <a routerLink="/nodes">
                <mat-icon>games</mat-icon>
                <span i18n="@@node_mgmt">Node</span>
            </a>            
        </mat-list-item>

        <mat-list-item>
            <a routerLink="/usermgmt">
                <mat-icon>supervisor_account</mat-icon>
                <span i18n="@@user_mgmt">User</span>
            </a> 
        </mat-list-item>

        <mat-list-item *ngIf="applicationService.auth_user.is_super_admin==true">
            <a routerLink="/waf">
                <mat-icon>security</mat-icon>
                <span i18n="@@waf_mgmt">WAF</span>
            </a>  
        </mat-list-item>

        <mat-list-item>
            <a routerLink="/logs">
                <mat-icon>assignment</mat-icon>
                <span i18n="@@waf_logs">WAF Logs</span>
            </a>  
        </mat-list-item>

        <mat-list-item>
            <a routerLink="/cclogs">
                <mat-icon>assignment</mat-icon>
                <span i18n="@@cc_logs">CC Logs</span>
            </a>  
        </mat-list-item>

        <mat-list-item>
            <a routerLink="/ssh">
                <mat-icon>computer</mat-icon>
                <span>Web SSH</span>
            </a>  
        </mat-list-item>

        <mat-list-item>
            <a (click)="toggleSidenav()">
                <mat-icon>navigate_before</mat-icon>
                <span i18n="@@hide_menu">Hide Menu</span>
            </a>
        </mat-list-item>

    </mat-nav-list>    
</mat-sidenav>
<mat-sidenav-content role="region">
    <div *ngIf="showSidenav==false">
    <button (click)="toggleSidenav()" class="btn_shownav">
        <mat-icon>navigate_next</mat-icon>
        <span i18n="@@show_menu">Show Menu</span>
    </button>
    </div>
    <router-outlet></router-outlet>
    
</mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
</ng-container>