.sidenav-container {
    min-height: 500px;
}

.sidenav {
    display: flex;
    align-items: top;
    justify-content: center;
    width: 190px;
}

mat-icon {
    font-size: 12px;
}

.mat-sidenav {
    background-color: #E5E5E5;
}
.mat-list-item {
    font-size: 12px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding-top: 1px;
}
