<div class="container">

    <mat-card>
      <h2 i18n="@@product_name">Janusec Application Gateway 0.9.11</h2>
    </mat-card>    

    <mat-card>
      <mat-card-content class="card-content">
          <img mat-card-image src="/janusec-admin/assets/images/gateway.png" class="card-image">
          <p i18n="@@product_desc">
            Janusec Application Gateway, a Golang based application security solution which provides WAF (Web Application Firewall), CC attack defense, LDAP and OAuth2 Authentication, unified web administration portal, private key protection, web routing and scalable load balancing. 
          </p>
      </mat-card-content>
    </mat-card>
  
    <mat-card>
        <mat-card-header>
          <mat-card-title i18n="@@feature_title">          
            Features of Janusec Application Gateway
          </mat-card-title>
        </mat-card-header>      
        <mat-card-content>
          <mat-list>              
            <mat-list-item>
                <mat-icon mat-card-avatar>done</mat-icon>  
                <span>HTTP, HTTPS, HTTP2, Web Socket</span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-card-avatar>done</mat-icon>  
                <span i18n="@@feature_waf">WAF (Web Application Firewall) and CC denfense</span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-card-avatar>done</mat-icon>  
                <span i18n="@@feature_encryped_private_key">Encryption of Private Key</span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-card-avatar>done</mat-icon> 
                <span i18n="@@feature_oauth">LDAP, OAuth2 Authentication</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
          <mat-card-header>
              <mat-card-title i18n="@@support">          
                Support
              </mat-card-title>
            </mat-card-header>      
            <mat-card-content>
              <mat-nav-list>
                <a mat-list-item i18n="@@official_site" href="https://www.janusec.com" target="_blank">Official Site</a>
                <a mat-list-item href="https://janusec.github.io" target="_blank">User Guide (English)</a>
                <a mat-list-item href="https://janusec.github.io/cn" target="_blank">用户手册（中文）</a>
                <a mat-list-item i18n="@@source_code" href="https://github.com/Janusec/janusec" target="_blank">Source Code</a>
                <a mat-list-item i18n="@@user_agreement" href="https://janusec.github.io/documentation/user-agreement/" target="_blank">User Agreement</a>
              </mat-nav-list>               
            </mat-card-content>
      </mat-card>

</div>
    
