<div>    
    <mat-card>Janusec Application Gateway 0.9.3</mat-card>    
  </div>
  <div class="inner-container">
    <mat-card>
      <mat-card-content class="card-content">
          <img mat-card-image src="/assets/images/gateway.png" class="card-image">
          <p>
            Janusec Application Gateway, an application security solutions which provides WAF (Web Application Firewall), unified web administration, certificate protection, and scalable load balancing.
          </p>
      </mat-card-content>
    </mat-card>
  
    <mat-card>
        <mat-card-header>
          <mat-card-title>          
            Features of Janusec Application Gateway
          </mat-card-title>
        </mat-card-header>      
        <mat-card-content>
          <mat-list>
              <mat-list-item>
              <mat-icon mat-card-avatar>done</mat-icon>  
              HTTP(S) Web Application Firewall, No Agent Required
              </mat-list-item>
            <mat-list-item>
                <mat-icon mat-card-avatar>done</mat-icon>  
                Load Balance
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-card-avatar>done</mat-icon>  
                Encrypted Digital Certificates Manager
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-card-avatar>done</mat-icon> 
                Scalable Architecture
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
          <mat-card-header>
              <mat-card-title>          
                Support
              </mat-card-title>
            </mat-card-header>      
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                      <a href="https://www.janusec.com" alt="Janusec" target="_blank">https://www.janusec.com</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a href="https://www.janusec.com/documentation/user-agreement/" alt="User Protocol" target="_blank">User Agreement and Privacy Policy</a>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
      </mat-card>
  
  </div>

    
