mat-card {
    margin-bottom: 7px;
    border-radius: 0;
    font-family: Helvetica, Arial, "PingFang SC", "Source Han Serif SC", "Microsoft YaHei";
}

.card-content {
    padding-top: 15px;
}

.card-image {
    width: 70%;
    margin-left: 15%;
}

.mat-list-item {
    font-size: 14px;
}

.mat-nav-list {
    display: flex;
}