<div class="container">
<div>    
    <mat-card>
      <h2 i18n="@@app_mgmt">Application Management</h2>
    </mat-card>    
</div>

<div>
    <span>
        <button mat-stroked-button i18n="@@add_app" (click)="addApplication()">Add Application</button>        
    </span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <mat-form-field appearance="none">
        <input matInput (keyup)="applyFilter($event.target.value)" class="search_box" placeholder="Filter">
    </mat-form-field> 
</div>


<div class="mat-elevation-z8">
    <mat-table #table [dataSource]="appDataSource"> 
      <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <a routerLink="/application/{{element.id}}">
              {{element.id}} 
              </a>
            </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell i18n="@@app_name" *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <a routerLink="/application/{{element.id}}">
                {{element.name}} 
            </a>           
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell i18n="@@description" *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>
            
      <ng-container matColumnDef="waf_enabled">
        <mat-header-cell i18n="@@waf_enabled2" *matHeaderCellDef class="center_column"> WAF Enabled </mat-header-cell>
        <mat-cell *matCellDef="let element" class="center_column">
            <mat-icon *ngIf="element.waf_enabled" color="primary">security</mat-icon>
            <mat-icon *ngIf="!element.waf_enabled" color="warn">security</mat-icon>
        </mat-cell>
      </ng-container> 
            
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #appPaginator
             [length]="appLength"
             [pageSize]="20"
             [pageSizeOptions]="[10, 20, 50]">
    </mat-paginator>
  </div>
  
</div>