mat-list-item {
  /*max-width: 500px;*/
  background-color: #F0F0F0;
  margin:3px;
}

mat-list-item:hover {
  cursor: pointer;
}

.notes {
    background-color: #F0F0F0;
    padding: 5px;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 0px;
    list-style-type: none;
}

.search_box {
    background-color: #FFFFFF;
    border: solid 1px #D0D0D0;
    border-radius: 15px;
    padding: 6px;
    vertical-align: middle;
}

.center_column {
    justify-content: center;
}