<div *ngIf="group_policy">

    <h2>
        <mat-icon>details</mat-icon>
        Policy Details
    </h2>  
      
    <div class="container">
        <mat-form-field>
            <input matInput [(ngModel)]="group_policy.description" placeholder="Name or Description" required [disabled]="readOnlyValue">
        </mat-form-field>

        <mat-form-field>
          <mat-select [(ngModel)]="group_policy.app_id" placeholder="Applies to" [disabled]="true">
          <mat-option [value]=0>All applications</mat-option>
          <mat-option *ngFor="let application of applicationService.applications;" [value]="application.id">
              {{application.name}}
          </mat-option>  
          </mat-select> 
        </mat-form-field>
 
        <mat-form-field>
            <mat-select [(ngModel)]="group_policy.vuln_id" placeholder="Vulnerability" [disabled]="readOnlyValue">
            <mat-option *ngFor="let vulntype of applicationService.vulntypes;" [value]="vulntype.id">
                {{vulntype.name}}
            </mat-option>  
            </mat-select> 
        </mat-form-field>


        <div class="inner-container" *ngFor="let check_item of group_policy.check_items; let i=index; trackBy:trackByFn">
                <mat-form-field>
                  <mat-select placeholder="Check Point"  [(ngModel)]="group_policy.check_items[i].check_point" [disabled]="readOnlyValue" required>   
                      <mat-option *ngFor="let check_value of enum_check_values;" [value]="check_value">
                        {{getChkPointEnumString(check_value)}}
                    </mat-option>            
                  </mat-select>
                </mat-form-field> 

                <mat-form-field> 
                    <mat-select placeholder="Operation"  [(ngModel)]="group_policy.check_items[i].operation" [disabled]="readOnlyValue" required>   
                        <mat-option *ngFor="let operation_value of enum_operation_values;" [value]="operation_value">
                          {{getOperationEnumString(operation_value)}}
                      </mat-option>            
                    </mat-select>
                  </mat-form-field> 

                <mat-form-field *ngIf="getChkPointEnumString(check_item.check_point)=='HeaderValue'">
                    <input matInput [(ngModel)]="check_item.key_name" placeholder="Designated HeaderKey" [disabled]="readOnlyValue">
                </mat-form-field>                
        
                <mat-form-field>
                        <input matInput [(ngModel)]="check_item.regex_policy" placeholder="Value or RegexPolicy( Google RE2,start with (?i) if CaseInsensitive required)" required [disabled]="readOnlyValue">
                </mat-form-field>
                <div>
                    <mat-icon matTooltip="Add new check point" matTooltipPosition="right"  (click)="addCheckItem()">add_circle_outline</mat-icon>
                    <mat-icon  *ngIf="group_policy.check_items.length>1"  (click)="delCheckItem(i)">remove_circle_outline</mat-icon>
                </div>    
        </div>
        

        <mat-form-field>
            <mat-select [(ngModel)]="group_policy.action" placeholder="Action" [disabled]="readOnlyValue">
            <mat-option *ngFor="let action_value of enum_action_values;" [value]="action_value">
                {{getPolicyActionEnumString(action_value)}}
            </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field *ngIf="group_policy.id>0">
                <input matInput [value]="getDate(group_policy.update_time)" placeholder="Latest Update Time" disabled="true">
        </mat-form-field>

        <section>
                <mat-checkbox [(ngModel)]="group_policy.is_enabled" [disabled]="readOnlyValue">
                    Enable this policy
                </mat-checkbox>
        </section>

        <div>
        <button mat-raised-button [disabled]="readOnlyValue" (click)="setGroupPolicy()" color="primary">Save</button>
        <button mat-raised-button (click)="changeEditable()"  color="primary">{{readOnlyButtonText}}</button>
        <button mat-raised-button [disabled]="readOnlyValue" (click)="delGroupPolicy()" color="primary">Delete</button>
        </div>
    </div> 
    <hr>
    <h3>Regex Test Tool</h3>
    <div class="container">
        <mat-form-field>
            <input matInput [(ngModel)]="regex_match.pattern" placeholder="Policy Pattern (Google RE2 Regex Expression)" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="regex_match.payload" placeholder="Payload Value to Test" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="regex_match.matched" placeholder="Match Result" readonly>
        </mat-form-field>
        <section>
            <mat-checkbox [(ngModel)]="regex_match.preprocess">
                Preprocess Payload Value by Janusec (Remove &#34; &#39; /**/ etc.)
            </mat-checkbox>
        </section>
        <div>
            <button mat-raised-button (click)="testRegex()" color="primary">Test</button>
        </div>
    </div>
</div>