<div *ngIf="settings">
    <mat-tab-group>
        <mat-tab i18n-label="@@security_auth" label="Authentication">
            <div class="container">
                <section>
                    <mat-checkbox i18n="@@authenticator_enabled" [(ngModel)]="settings.authenticator_enabled" [disabled]="readOnlyValue">
                        Enable Authenticator (2-factor Authentication) for Gateway Management
                    </mat-checkbox>
                </section>
                <section>                    
                    <mat-checkbox i18n="@@auth_enabled" [(ngModel)]="settings.auth_enabled" [disabled]="readOnlyValue">
                        Enable Single Sign On Authentication for Applications
                    </mat-checkbox>
                </section>
                <br/>
                <mat-form-field>
                    <mat-select [(ngModel)]="settings.auth_provider" 
                    i18n-placeholder="@@auth_provider" placeholder="Authentication Provider" 
                    [disabled]="readOnlyValue"  (selectionChange)="loadAuthProvider(settings.auth_provider)">
                    <mat-option value="wxwork">WxWork（企业微信扫码）</mat-option>
                    <mat-option value="dingtalk">DingTalk（钉钉扫码）</mat-option>
                    <mat-option value="feishu">Feishu（飞书扫码）</mat-option>
                    <mat-option value="lark">Lark（Lark扫码）</mat-option>
                    <mat-option value="ldap">LDAP</mat-option>
                    <mat-option value="cas2">CAS 2.0 Protocol</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <!-- WxWork -->
                <mat-form-field *ngIf="settings.auth_provider=='wxwork' && wxworkConfig">
                    <input matInput [(ngModel)]="wxworkConfig.display_name" [readonly]="readOnlyValue" 
                    i18n-placeholder="@@display_name"  placeholder="Display Name"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='wxwork' && wxworkConfig">
                    <input matInput [(ngModel)]="wxworkConfig.callback" [readonly]="readOnlyValue" 
                    i18n-placeholder="@@callback"  placeholder="Callback"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='wxwork' && wxworkConfig">
                    <input matInput [(ngModel)]="wxworkConfig.corpid" [readonly]="readOnlyValue" placeholder="corpid"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='wxwork' && wxworkConfig">
                    <input matInput [(ngModel)]="wxworkConfig.agentid" [readonly]="readOnlyValue" placeholder="agentid"/>
                </mat-form-field>
                <mat-form-field *ngIf="settings.auth_provider=='wxwork' && wxworkConfig">
                    <input matInput [(ngModel)]="wxworkConfig.corpsecret" [readonly]="readOnlyValue" placeholder="corpsecret"/>
                </mat-form-field> 

                <!-- DingTalk -->
                <mat-form-field *ngIf="settings.auth_provider=='dingtalk' && dingtalkConfig">
                    <input matInput [(ngModel)]="dingtalkConfig.display_name" [readonly]="readOnlyValue" 
                    i18n-placeholder="@@display_name"  placeholder="Display Name"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='dingtalk' && dingtalkConfig">
                    <input matInput [(ngModel)]="dingtalkConfig.callback" [readonly]="readOnlyValue" 
                    i18n-placeholder="@@callback"  placeholder="Callback"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='dingtalk' && dingtalkConfig">
                    <input matInput [(ngModel)]="dingtalkConfig.appid" [readonly]="readOnlyValue" placeholder="appid"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='dingtalk' && dingtalkConfig">
                    <input matInput [(ngModel)]="dingtalkConfig.appsecret" [readonly]="readOnlyValue" placeholder="appsecret"/>
                </mat-form-field> 

                <!-- Feishu -->
                <mat-form-field *ngIf="settings.auth_provider=='feishu' && feishuConfig">
                    <input matInput [(ngModel)]="feishuConfig.display_name" [readonly]="readOnlyValue" 
                    i18n-placeholder="@@display_name"  placeholder="Display Name"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='feishu' && feishuConfig">
                    <input matInput [(ngModel)]="feishuConfig.callback" [readonly]="readOnlyValue" 
                    i18n-placeholder="@@callback"  placeholder="Callback"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='feishu' && feishuConfig">
                    <input matInput [(ngModel)]="feishuConfig.appid" [readonly]="readOnlyValue" placeholder="appid"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='feishu' && feishuConfig">
                    <input matInput [(ngModel)]="feishuConfig.appsecret" [readonly]="readOnlyValue" placeholder="appsecret"/>
                </mat-form-field> 

                <!-- Lark -->
                <mat-form-field *ngIf="settings.auth_provider=='lark' && larkConfig">
                    <input matInput [(ngModel)]="larkConfig.display_name" [readonly]="readOnlyValue" 
                    i18n-placeholder="@@display_name"  placeholder="Display Name"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='lark' && larkConfig">
                    <input matInput [(ngModel)]="larkConfig.callback" [readonly]="readOnlyValue" 
                    i18n-placeholder="@@callback"  placeholder="Callback"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='lark' && larkConfig">
                    <input matInput [(ngModel)]="larkConfig.appid" [readonly]="readOnlyValue" placeholder="appid"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='lark' && larkConfig">
                    <input matInput [(ngModel)]="larkConfig.appsecret" [readonly]="readOnlyValue" placeholder="appsecret"/>
                </mat-form-field> 

                 <!-- LDAP -->
                <mat-form-field *ngIf="settings.auth_provider=='ldap' && ldapConfig">
                    <input matInput [(ngModel)]="ldapConfig.display_name" [readonly]="readOnlyValue" 
                    i18n-placeholder="@@display_name"  placeholder="Display Name"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='ldap' && ldapConfig">
                    <input matInput [(ngModel)]="ldapConfig.entrance" [readonly]="readOnlyValue" 
                    placeholder="entrance"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='ldap' && ldapConfig">
                    <input matInput [(ngModel)]="ldapConfig.address" [readonly]="readOnlyValue" placeholder="address"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='ldap' && ldapConfig">
                    <input matInput [(ngModel)]="ldapConfig.dn" [readonly]="readOnlyValue" placeholder="dn"/>
                </mat-form-field> 

                <section *ngIf="settings.auth_provider=='ldap' && ldapConfig">
                    <mat-checkbox i18n="@@bind_required" [(ngModel)]="ldapConfig.bind_required" [disabled]="readOnlyValue">
                        BindDN required (for Active Directory)
                    </mat-checkbox>
                </section>

                <mat-form-field *ngIf="settings.auth_provider=='ldap' && ldapConfig && ldapConfig.bind_required">
                    <input matInput [(ngModel)]="ldapConfig.base_dn" [readonly]="readOnlyValue" placeholder="BaseDN"/>
                </mat-form-field> 

                <mat-form-field *ngIf="settings.auth_provider=='ldap' && ldapConfig && ldapConfig.bind_required">
                    <mat-label>Bind Username</mat-label>
                    <input matInput [(ngModel)]="ldapConfig.bind_username" [readonly]="readOnlyValue" />
                </mat-form-field> 

                <mat-form-field *ngIf="settings.auth_provider=='ldap' && ldapConfig && ldapConfig.bind_required">
                    <mat-label>Bind Password</mat-label>
                    <input type="password" matInput [(ngModel)]="ldapConfig.bind_password" [readonly]="readOnlyValue" />
                </mat-form-field> 

                <mat-divider *ngIf="settings.auth_provider=='ldap' && ldapConfig"></mat-divider>

                <section *ngIf="settings.auth_provider=='ldap' && ldapConfig">
                    <mat-checkbox i18n="@@using_tls" [(ngModel)]="ldapConfig.using_tls" [disabled]="readOnlyValue">
                        Using TLS Encryption
                    </mat-checkbox>
                </section>

                <section *ngIf="settings.auth_provider=='ldap' && ldapConfig">
                    <mat-checkbox i18n="@@enable_authenticator" [(ngModel)]="ldapConfig.authenticator_enabled" [disabled]="readOnlyValue">
                        Enable Authenticator
                    </mat-checkbox>
                </section>

                
                
                

                 <!-- CAS2 -->
                <mat-form-field *ngIf="settings.auth_provider=='cas2' && cas2Config">
                    <input matInput [(ngModel)]="cas2Config.display_name" [readonly]="readOnlyValue" 
                    i18n-placeholder="@@display_name"  placeholder="Display Name"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='cas2' && cas2Config">
                    <input matInput [(ngModel)]="cas2Config.entrance" [readonly]="readOnlyValue" 
                    placeholder="entrance"/>
                </mat-form-field> 
                <mat-form-field *ngIf="settings.auth_provider=='cas2' && cas2Config">
                    <input matInput [(ngModel)]="cas2Config.callback" [readonly]="readOnlyValue" i18n-placeholder="@@callback"  placeholder="callback"/>
                </mat-form-field> 

                <br/>
                <mat-divider></mat-divider>
                <div i18n="@@auth_provider_note" class="notes">
                    Note: Janusec on replica nodes need to be restarted if authentication provider changed.
                </div> 
            </div>
        </mat-tab>

        <mat-tab i18n-label="@@access_control_five_second_shield" label="Access Control (5-Second Shield)">
            <div class="container">          
                <h2 i18n="@@five_second_shield">5-second Shield</h2>
                <section>
                    <mat-checkbox i18n="@@skip_se_enabled" [(ngModel)]="settings.skip_se_enabled" [disabled]="readOnlyValue">
                        Allow search engines bypass 5-second shield.
                    </mat-checkbox>
                </section>
                <br>
                <mat-form-field>
                    <mat-label i18n="@@search_engine_label">Search Engines (not empty, case insensitive, seperated by | )</mat-label>
                    <input matInput [(ngModel)]="settings.search_engines" [readonly]="readOnlyValue" required>
                </mat-form-field>            
                <br/>
                <mat-divider></mat-divider>
                <div i18n="@@five_second_shield_note" class="notes">
                    Note: If 5-Second Shield is enabled under application management, and allow search engines bypass it, the 5-second shiled will not block the above search engines (User-Agent).
                </div> 
            </div>
        </mat-tab>

        <mat-tab i18n-label="@@security_operation" label="Access Control (Operation)">
            <div class="container">
                <section>
                    <mat-checkbox i18n="@@webssh_enabled" [(ngModel)]="settings.webssh_enabled" [disabled]="readOnlyValue">
                        Enable Web-based SSH
                    </mat-checkbox>
                </section>
            </div>
        </mat-tab>



        <mat-tab i18n-label="@@security_audit" label="Security Audit">
            <div class="container">        
                <mat-form-field>
                    <input i18n-placeholder="@@waf_log_days" type="number" matInput [(ngModel)]="settings.waf_log_days" [readonly]="readOnlyValue" placeholder="WAF Log Days"/>
                </mat-form-field> 
        
                <mat-form-field>
                    <input i18n-placeholder="@@cc_log_days" type="number" matInput [(ngModel)]="settings.cc_log_days" [readonly]="readOnlyValue" placeholder="CC Log Days"/>
                </mat-form-field> 
        
                <mat-form-field>
                    <input i18n-placeholder="@@access_log_days" type="number" matInput [(ngModel)]="settings.access_log_days" [readonly]="readOnlyValue" placeholder="Access Log Days"/>
                </mat-form-field>                 
            </div>
        </mat-tab>



        <mat-tab i18n-label="@@email_notification" label="Email Notification">
            <div class="container">  
                <section>
                    <mat-checkbox i18n="@@smtp_enabled" [(ngModel)]="settings.smtp.smtp_enabled" [disabled]="readOnlyValue">
                        Enable SMTP Notification (certificate expire, server offline etc.)
                    </mat-checkbox>
                </section>      
                <mat-form-field>
                    <mat-label i18n="@@smtp_server">Server</mat-label>
                    <input matInput [(ngModel)]="settings.smtp.smtp_server" [readonly]="readOnlyValue" required/>
                </mat-form-field> 
                <mat-form-field>
                    <mat-label i18n="@@smtp_port">Port (25 or 587)</mat-label>
                    <input matInput [(ngModel)]="settings.smtp.smtp_port" [readonly]="readOnlyValue" required/>
                </mat-form-field> 
                <mat-form-field>
                    <mat-label i18n="@@smtp_account">Account (Sender's Email)</mat-label>
                    <input matInput [(ngModel)]="settings.smtp.smtp_account" [readonly]="readOnlyValue" required/>
                </mat-form-field> 
                <mat-form-field>
                    <mat-label i18n="@@smtp_password">Password</mat-label>
                    <input matInput [(ngModel)]="settings.smtp.smtp_password" type="password" [readonly]="readOnlyValue" required/>
                </mat-form-field> 
                <section>
                    <button mat-button mat-stroked-button i18n="@@test_smtp" (click)="testSMTP()">Test SMTP</button>
                </section>                
            </div>
        </mat-tab>


    </mat-tab-group>
    <div class="container">
        <section>
            <button i18n="@@save" mat-stroked-button [disabled]="readOnlyValue" (click)="saveSettings()">Save</button>
            <button mat-stroked-button (click)="changeEditable()">{{readOnlyButtonText}}</button>
        </section>        
    </div>
</div>